.rotate90 {
  rotate: 90deg;
}

.rotate-90 {
  rotate: -90deg;
}

.context-menu-section footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.rangeInputContainer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 1.5rem;
  position: relative;
}

.rangeInput {
  width: 100%;
}

.rangeInputValueContainer {
  position: absolute;
  width: calc(100% - 3rem);
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.rangeInputValue {
  position: absolute;
  color: var(--main-color);
  background-color: #eaeaea;
  border-radius: 100px;
  width: 3rem;
  text-align: center;
  padding: 0.3rem 0.1rem;
  font-weight: bold;
}
