.leaflet-popup-content-wrapper {
  background-color: transparent;
  /*box-shadow: unset;*/
  padding: unset;
  width: unset;
}

.leaflet-popup-content {
  margin: unset;
}

.leaflet-popup-tip {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

.popup-container {
  width: 12rem;
  background-color: var(--main-color);
  color: white;
  padding: 0.7rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /*font-size: 0.9rem;*/
}

.popup-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.2rem;
}

.context-menu-icon {
  filter: invert();
  aspect-ratio: 1;
  width: 1rem;
}

.context-menu-bird-destination-button {
  width: 100%;
  background-color: var(--secondary-color);
  color: inherit;
  border-radius: 6px;
  cursor: pointer;
  border: unset;
}

.context-menu-bird-destination-button:focus {
  outline: transparent;
}

.context-menu-bird-destination-button:hover {
  border: unset;
  background-color: rgba(255, 255, 255, 0.11);
}

.button-unusable {
  cursor: not-allowed;
}
