.titled-frame-container {
  padding: 0.5rem;
  border-radius: 8px;
  border: var(--button-hover-border-color-default) solid 1px;
}

.titled-frame-container legend {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.titled-frame-icon {
  filter: invert();
  width: 1rem;
  height: 1rem;
}

.titled-frame {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
