.container {
    position: absolute;
    z-index: 1000;
    bottom: 1rem;
    right: 1rem;
    width: 30rem;
    height: 20rem;
    /*width: 100%;*/
    /*height: 100%;*/
    border: #1a1a1aw solid 1px;
    background-color: gray;
}

