.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
}

.bird-map-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bird-map-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.bird-map-icon-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  outline: var(--main-color) dashed 3px;
  border-radius: 5px;
}

.bird-map-icon-img {
  width: 6rem;
  height: 6rem;
}

.bird-map-icon-properties {
  position: absolute;
  bottom: -2.5rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem;
  gap: 1rem;
  border-radius: 8px;
}
