.bird-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: calc(100% - 2rem);
}

.bird-status-required {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow-icon {
  filter: invert();
  aspect-ratio: 1;
  width: 1rem;
  height: 1rem;
}

.status-icon {
  filter: invert();
  aspect-ratio: 1;
  width: 1.5rem;
}

.status-data {
  display: flex;
  align-items: baseline;
  gap: 0.2rem;
  width: 100%;
}

.unit {
  font-size: 0.8rem;
}

.bird-status-bearing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
