.side-menu-container {
  background-color: rgba(17, 29, 33, 0.95);
  position: absolute;
  z-index: 10000;
  right: 0;
  width: 19rem;
  height: calc(100% - 5rem);
  color: white;
  padding: 2.5rem;
  overflow-y: hidden;
}

.side-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bird-summery {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.53);
  margin-bottom: 2rem;
}

.bird-status-container {
  /*border: white solid 1px;*/
}

.status-frames {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
