:root {
  --main-color: rgba(17, 29, 33, 0.95);
  --secondary-color: rgba(255, 255, 255, 0.07);
  --button-active-background-color-default: rgba(255, 255, 255, 0.13);
  --button-hover-border-color-default: rgba(255, 255, 255, 0.55);
}

* {
  margin: 0;
  padding: 0;
}
