.container {
    /*--position-x: 0px;*/
    /*--position-y: 0px;*/

    background-color: #1f1f46;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    width: 15rem;
    padding: 1rem;

    position: absolute;
    z-index: 10000;
    /*top: var(--position-x);*/
    /*left: var(--position-y);*/
}